*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.navbar{
    height: 60px;
    background-color: #212727;
    color: white;
}
.nav-logo{
    height: 20px;
    width: 50px;
    

}
.logo{
    background-image: url(image.png);
    background-size: cover;
    background-position: center;
    height: 70px;;
    width: 400%;
}