*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
.navlogo{
    height: 50px;
    width: 100%;

}
.logo{
    background-image: url(picturs/logo.png);
    background-size: cover;
    height: 50px;;
    width: 100%;
}